Source: qcad
Section: graphics
Priority: optional
Maintainer: Eugene Kilachkoff <ekilachkoff@gmail.com>
Build-Depends: debhelper (>= 9),
        make,
        dh-exec,
        libx11-dev,
        libxext-dev,
        libxrender-dev,
        libglu1-mesa-dev,
        libfreetype6-dev,
        libfontconfig1-dev,
        libssl-dev,
        libdbus-1-dev,
        libsm-dev,
        qt4-qmake,
        libqtwebkit-dev,
        libqt4-dev,
        libqt4-opengl-dev
Standards-Version: 3.9.8
Homepage: http://qcad.org
#Vcs-Git: https://anonscm.debian.org/collab-maint/qcad.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/qcad.git

Package: qcad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QCAD is a free computer-aided design (CAD) software.
 QCAD is an application for computer aided design in two dimensions
